# MSVC
.vs/

*.vcxproj
*.vcxproj.*
*.sln
*.obj
*.pdb
*.tlog

[Oo]bj/
[Dd]ebug/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Build files
*.a
*.so
*.lib
*.dll
*.exe
*.ilk

# MacOS
.DS_Store
